@using System.Text
@using CinematiQ.Models.Entities
@using Microsoft.EntityFrameworkCore
@model FilmPageVM

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="~/css/Page/page.css" asp-append-version="true" />
<title>Сторінка фільму</title>


@{
    if (Model.Movie.MovieType == MovieType.Movie)
    {
        <style>
                body {
                    background-image: url(/images/background_movie.jpg);
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                }
            </style>
    }
    else if (Model.Movie.MovieType == MovieType.Serial)
    {
        <style>
                body {
                    background-image: url(/images/background_serial.jpg);
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                }
            </style>
    }
    else if (Model.Movie.MovieType == MovieType.Cartoon)
    {
        <style>
                body {
                    background-image: url(/images/background_cartoon.jpg);
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                }
            </style>
    }
    else if (Model.Movie.MovieType == MovieType.Anime)
    {
        <style>
                body {
                    background-image: url(/images/background_anime.jpg);
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: 100vh;
                }
            </style>
    }
}


<input id="movieId" type="hidden" value="@Model.Movie.Id"/>
<div class="movie-container">
    <div class="movie-header">
        <img src="@Model.Movie.Poster" alt="@Model.Movie.Title" class="movie-poster">
        <div class="movie-info">
            <h1>@Model.Movie.Title</h1>
            <h2>@Model.Movie.AlterTitle</h2>
            <p>
                @{
                    foreach (var genre in Model.Movie.Genres)
                    {
                        <span class="genre"
                              data-bs-toggle="tooltip" data-bs-placement="top"
                              data-bs-custom-class="custom-tooltip"
                              data-bs-title="@genre.Description">@genre.Title</span>
                    }
                }
            </p>
            <div class="info-grid">
                <p><strong>Рік:</strong></p>
                <span>@Model.Movie.YearOfRelease</span>

                <p><strong>Статус:</strong></p>
                <span>@Model.Movie.MovieStatus</span>

                <p><strong>Тип:</strong></p>
                <span>@Model.Movie.MovieType</span>

                <p><strong>Студія:</strong></p>
                <span>@Model.Movie.Studio</span>

                <p><strong>Країна:</strong></p>
                <span>@string.Join(", ", @Model.Movie.Genres.Select(g => g.Title))</span>
            </div>
            
        </div>
    </div>
    <div>
        <div class="col">
            <div class="bookmark my-3">
                <select id="bookmark-select">
                    <option value="-1" selected="@Model.IsSelected(-1)">Не дивлюсь</option>
                    <option value="2" selected="@Model.IsSelected(2)">Дивлюсь</option>
                    <option value="1" selected="@Model.IsSelected(1)">В планах</option>
                    <option value="3" selected="@Model.IsSelected(3)">Переглянуто</option>
                    <option value="4" selected="@Model.IsSelected(4)">Відкладено</option>
                    <option value="5" selected="@Model.IsSelected(5)">Кинуто</option>
                    <option value="0" selected="@Model.IsSelected(0)">Улюблені</option>
                </select>
            </div>
            
            @{
                if (User.IsInRole("Admin"))
                {
                    <div class="bookmark my-3">
                        <a class="button" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Movie.Id">Редагувати</a>
                    </div>
                }
            }

            <div id="alertMoviemarkerBlock"></div>
        </div>
    </div>
    <div class="movie-description">
        <h2>ОПИС СЮЖЕТУ «@Model.Movie.Title»</h2>
        <p>@Model.Movie.Description</p>
    </div>
    <div class="outer-container">
        <div class="rating-container">
            <div class="rating-item">
                <div class="circle-rating"
                     id="plot-circle-rating"
                     data-rating="@(Model.Movie.PlotReviews.Any() ? Model.Movie.PlotReviews.Average(p => p.Grade).ToString("0.0") : "0.0")">
                    
                    <span>@(Model.Movie.PlotReviews.Any() ? Model.Movie.PlotReviews.Average(p => p.Grade).ToString("0.0") : "0.0")</span>
                    
                </div>
                <div class="rating-details">
                    <p>Сюжет</p>
                    <div class="star-rating" id="plot-rating">
                        <span data-value="5"></span>
                        <span data-value="4"></span>
                        <span data-value="3"></span>
                        <span data-value="2"></span>
                        <span data-value="1"></span>
                    </div>
                </div>
            </div>
            <div class="rating-item">
                <div class="circle-rating"
                     data-rating="@(Model.Movie.CharacterReviews.Any() ? Model.Movie.CharacterReviews.Average(p => p.Grade).ToString("0.0") : "0.0")"
                     id="character-circle-rating">
                    
                    <span>@(Model.Movie.CharacterReviews.Any() ? Model.Movie.CharacterReviews.Average(p => p.Grade).ToString("0.0") : "0.0")</span>
                </div>
                <div class="rating-details">
                    <p>Персонажі</p>
                    <div class="star-rating" id="character-rating">
                        <span data-value="5"></span>
                        <span data-value="4"></span>
                        <span data-value="3"></span>
                        <span data-value="2"></span>
                        <span data-value="1"></span>
                    </div>
                </div>
            </div>
            <div class="rating-item">
                <div class="circle-rating"
                     data-rating="@(Model.Movie.PictureQualityReviews.Any() ? Model.Movie.PictureQualityReviews.Average(p => p.Grade).ToString("0.0") : "0.0")"
                     id="picture-circle-rating">
                    
                    <span>@(Model.Movie.PictureQualityReviews.Any() ? Model.Movie.PictureQualityReviews.Average(p => p.Grade).ToString("0.0") : "0.0")</span>
                </div>
                <div class="rating-details">
                    <p>Картинка</p>
                    <div class="star-rating" id="picture-rating">
                        <span data-value="5"></span>
                        <span data-value="4"></span>
                        <span data-value="3"></span>
                        <span data-value="2"></span>
                        <span data-value="1"></span>
                    </div>
                </div>
            </div>
            <div class="rating-item">
                <div class="circle-rating"
                     data-rating="@(Model.Movie.PersonalImpressionsReviews.Any() ? Model.Movie.PersonalImpressionsReviews.Average(p => p.Grade).ToString("0.0") : "0.0")"
                     id="personal-circle-rating">
                    
                    <span>@(Model.Movie.PersonalImpressionsReviews.Any() ? Model.Movie.PersonalImpressionsReviews.Average(p => p.Grade).ToString("0.0") : "0.0")</span>
                </div>
                <div class="rating-details">
                    <p>Власні враження</p>
                    <div class="star-rating" id="personal-rating">
                        <span data-value="5"></span>
                        <span data-value="4"></span>
                        <span data-value="3"></span>
                        <span data-value="2"></span>
                        <span data-value="1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="alertRatingBlock"></div>
    </div>
    
    <div class="movie-player">
        @{
            if (Model.Movie.Seasons.Any())
            {
                <div class="season-select">
                    <select id="season-select">
                        @{
                            int seasonCount = 1;
                            foreach (var season in Model.Movie.Seasons)
                            {
                                <option value="@season.Id">@{ ++seasonCount; }</option>
                            }
                        }
                    </select>

                    <select id="episode-select">
                        <option>Серія 1</option>
                        <option>Серія 2</option>
                    </select>
                </div>
            }
        }
        
        <div class="player">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="similar-movies">
        <h2>Схожі фільми</h2>
        <div class="similar-movies-grid">
            <div class="similar-movie-item">
                <img src="/images/Янголи смерті.png" alt="Японія смерті">
                <div class="similar-movie-info">
                    <div class="my-3">
                        <p ><strong>Японія смерті</strong></p>
                        <p class="alternative-title">Death Angels</p>
                    </div>
                    <p class="rating mt-2">★ 7.1/10</p>
                </div>
            </div>
            <div class="similar-movie-item">
                <img src="/images/Злочинці.png" alt="Злочинні">
                <div class="similar-movie-info">
                    <div class="my-3">
                        <p><strong>Злочинні</strong></p>
                        <p class="alternative-title">Criminals</p>
                    </div>
                    <p class="rating mt-2">★ 8.3/10</p>
                </div>
            </div>
            <div class="similar-movie-item">
                <img src="/images/Арчер.png" alt="Арчер">
                <div class="similar-movie-info">
                    <div class="my-3">
                        <p><strong>Арчер</strong></p>
                        <p class="alternative-title">Archer</p>
                    </div>
                    <p class="rating mt-2">★ 8.6/10</p>
                </div>
            </div>
            <div class="similar-movie-item">
                <img src="/images/Барва пурпурова.png" alt="Барва пурпурова">
                <div class="similar-movie-info">
                    <div class="my-3">
                        <p><strong>Барва пурпурова</strong></p>
                        <p class="alternative-title">The Color Purple</p>
                    </div>
                    <p class="rating mt-2">★ 7.7/10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-section">
        <h2>Відгуки інших користувачів</h2>
        <div class="input-container">
            <textarea id="commentArea" placeholder="Напишіть відгук..."></textarea>
            <button id="sendComment">Відправити</button>
        </div>
        
        <div id="alertCommentBlock"></div>

        <div class="comments">
            @{
                foreach (var comment in Model.Movie.Comments)
                {
                    <div id="@comment.Id" class="comment">
                        <img src="/images/icon_profile.png" alt="Avatar" class="avatar">
                        <div class="comment-text">
                            <p>
                                <strong class="me-2"><a asp-controller="Home" asp-action="UserProfile" asp-route-userId="@comment.User?.Id">@comment.User?.Name</a> </strong>
                                @comment.Date.ToString("dd/MM/yyyy")
                                @{
                                    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <button class="link btn-delete-comment" data-comment-id="@comment.Id">Delete</button>
                                    }
                                }
                            </p>
                            <p>@comment.Content</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/film.js"></script>
