@model CinematiQ.Models.ViewModels.SearchVM

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/Filter/movies.css" asp-append-version="true" />
<script src="~/js/filterMovies.js"></script>

<title>Movies</title>

<div class="mb-4">
    <div class="h2">Ось, що нам вдалось знайти</div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Films" asp-action="Index">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Пошук</li>
        </ol>
    </nav> 
    <hr />
</div>

<div class="sect">
    <div class="sect-content" id="dle-content">
        @{
            if (Model.Movies.Any())
            {
                foreach (var movie in Model.Movies)
                {
                    <div class="short-item width-16">
                        <div class="short-cols fx-row">
                            <a class="short-img img-fit" asp-controller="Films" asp-action="Film" asp-route-id="@movie.Id">
                                <img class="lazyloaded" data-src="@movie.Poster" src="@movie.Poster" alt="@movie.Title">
                            </a>
                            <div class="th-title truncate" align="center">@movie.Title</div>
                        </div>
                    </div>  
                }
            }
        }
    </div>
</div>

<div class="pagination">
    @if (Model.Movies.PageCount > 1)
    {
        if (Model.Movies.HasPreviousPage)
        {
            <a class="pagination-arrow" 
               asp-action="Search" 
               asp-route-query="@Model.SearchQuery" 
               asp-route-pageSize="@Model.Movies.PageSize" 
               asp-route-pageNumber="@(Model.Movies.PageNumber - 1)">&gt;</a>
        }
        
        @for (int i = 1; i <= Model.Movies.PageCount; i++)
        {
            if (i == 1 || i == Model.Movies.PageCount || (Math.Abs(Model.Movies.PageNumber - i) <= 2))
            {
                <a class="page-number @(i == Model.Movies.PageNumber ? "page-number-active" : "")" 
                   asp-action="Search" 
                   asp-route-query="@Model.SearchQuery" 
                   asp-route-pageSize="@Model.Movies.PageSize" 
                   asp-route-pageNumber="@i">@i</a>
            }
            else if (Math.Abs(Model.Movies.PageNumber - i) == 3)
            {
                <span class="page-number disabled">...</span>
            }
        }

        if (Model.Movies.HasNextPage)
        {
            <a class="pagination-arrow" 
               asp-action="Search" 
               asp-route-query="@Model.SearchQuery" 
               asp-route-pageSize="@Model.Movies.PageSize" 
               asp-route-pageNumber="@(Model.Movies.PageNumber + 1)">&gt;</a>
        }
    }
</div>