@using CinematiQ.Views.Shared
@model List<CinematiQ.Models.Entities.MovieMarker>

@{
    ViewBag.Title = "Postponed";
    Layout = "_BookmarksLayout";
    ViewData["ActivePage"] = BookmarksNavPages.Postponed;
}

@{
    if (!Model.Any())
    {
        <div class="justify-content-center align-items-center">
            <div class="h5">Наразі тут порожньо.</div>
            <div class="h6">Додавайте фільми, які ви відклали на потім, до категорії «Відкладено».</div>
        </div>
    }
    else
    {
        <div>
            <div class="row align-items-center mb-4">
                <div class="col-auto me-5">
                    <div class="h4">ВСЬОГО: @Model.Count</div>
                </div>
                <div class="col-auto">
                    <div class="bookmarks-search-bar">
                        <input id="searchInput" class="text-white" type="text" placeholder="Пошук в «Відкладено»">
                        <button type="button">
                            <img src="/images/Glass_white.svg" alt="Search Icon">
                        </button>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sort-type-dropdown">
                        <select id="sortTypeSelect" class="sort-type-select">
                            <option class="sort-type-option" value="dateDesc">За додаванням (Спад.)</option>
                            <option class="sort-type-option" value="dateAsc">За додаванням (Зрост.)</option>
                            <option class="sort-type-option" value="yearDesc">За роком (Спад.)</option>
                            <option class="sort-type-option" value="yearAsc">За роком (Зрост.)</option>
                            <option class="sort-type-option" value="titleAsc">Від А до Я</option>
                            <option class="sort-type-option" value="titleDesc">Від Я до А</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button id="randomMovieButton" type="button" class="btn btn-random"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Обрати випадковий фільм із 'Відкладено'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"/>
                            <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="container" id="movieList">
                @foreach (var movie in Model)
                {
                <div class="movie-item" data-title="@movie.Movie.Title" data-year="@movie.Movie.YearOfRelease" data-date="@movie.AddedDate">
                    <img src="@movie.Movie.Poster" alt="@movie.Movie.Poster">
                    <div class="movie-details">
                        <a asp-controller="Films" asp-action="Film" asp-route-id="@movie.Movie.Id" class="movie-title">@movie.Movie.Title</a>
                        <div class="movie-rating">
                            <span>?</span> 8,0/10
                        </div>
                        @* <div class="movie-description">@movie.Movie.ShortDescription</div> *@
                    </div>
                </div>
                }
            </div>
        </div>
    }
}