@using CinematiQ.Models.Entities
@model CinematiQ.Models.Entities.ApplicationIdentityUser

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="~/css/Profile/profile.css" asp-append-version="true" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/Chart.js"></script>

<title>Profile</title>

<div class="mb-4">
    <div class="h2">Перегляд профілю</div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Films" asp-action="Index">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Профіль</li>
        </ol>
    </nav>
    <hr />
</div>

<div class="profile-container">
    <div class="profile-info">
        <img src="/images/icon_profile.png" alt="User Photo" class="profile-photo">
        <div class="profile-details">
            <h3>@Model.UserName</h3>
            <p>Електронна пошта:</p>
            <div class="profile-data">@Model.Email</div>
            @{
                if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <p>Номер телефону:</p>
                    <div class="profile-data">@Model.PhoneNumber</div>
                }
            }
            @{
                if (!string.IsNullOrEmpty(Model.Location))
                {
                    <p>Країна, місто:</p>
                    <div class="profile-data">Ukraine, Kyiv</div>
                }
            }
        </div>

        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="edit-button">Налаштування</a>

    </div>
    <div class="statistics">
        <h3>Статистика</h3>
        <div class="stats-details">
            <div class="stats-info">
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Watching">
                    <div class="stat-item"><span class="stat-square watching"></span>Дивлюсь: <span id="watchingCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Watching)</span></div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Planned">
                    <div class="stat-item"><span class="stat-square planned"></span>В планах: <span id="plannedCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Planned)</span></div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Viewed">
                    <div class="stat-item"><span class="stat-square watched"></span>Переглянуто: <span id="viewedCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Viewed)</span></div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Postponed">
                    <div class="stat-item"><span class="stat-square postponed"></span>Відкладено: <span id="postponedCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Postponed)</span></div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Abandoned">
                    <div class="stat-item"><span class="stat-square dropped"></span>Кинуто: <span id="abandonedCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Abandoned)</span></div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Favorites">
                    <div class="stat-item"><span class="stat-square favorite"></span>Улюбленні: <span id="favoriteCount">@Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Favorite)</span></div>
                </a>
            </div>
            <div class="stats-chart">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    @{
        if (Model.LastWatchedMovies.Any())
        {
            <div class="recent-views">
                <h3>Останні перегляди</h3>
                <ul class="recent-list">
                    @{
                        foreach (var lastWatched in Model.LastWatchedMovies)
                        {
                            <li>
                                <img src="@lastWatched.Movie.Poster" alt="@lastWatched.Movie.Title">
                                <div>
                                    <a asp-controller="Films" asp-action="Film" asp-route-id="@lastWatched.Movie.Id">@lastWatched.Movie.Title</a>
                                    <p class="date">@lastWatched.Date.ToString("dd/MM/yyyy")</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>

@* @using CinematiQ.Models.Entities
@model CinematiQ.Models.Entities.ApplicationIdentityUser

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="~/css/Profile/profile.css" asp-append-version="true" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/Chart.js"></script>

<title>Profile</title>

<div class="mb-4">
    <div class="h2">Перегляд профілю</div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Films" asp-action="Index">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Профіль</li>
        </ol>
    </nav>
    <hr />
</div>

<div class="profile-container">
    <div class="profile-info">
        <img src="/images/icon_profile.png" alt="User Photo" class="profile-photo">
        <div class="profile-details">
            <h3>@Model.UserName</h3>
            <p>Електронна пошта:</p>
            <div class="profile-data">@Model.Email</div>
            @{
                if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <p>Номер телефону:</p>
                    <div class="profile-data">@Model.PhoneNumber</div>
                }
            }
            @{
                if (!string.IsNullOrEmpty(Model.Location))
                {
                    <p>Країна, місто:</p>
                    <div class="profile-data">Ukraine, Kyiv</div>
                }
            }
        </div>
        
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="edit-button">Налаштування</a>

    </div>
    <div class="statistics">
        <h3>Статистика</h3>
        <div class="stats-details">
            <div class="stats-info">
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Watching">
                    <div class="stat-item"><span class="stat-square watching"></span>Дивлюсь: @Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Watching)</div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Planned">
                    <div class="stat-item"><span class="stat-square planned"></span>В планах: @Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Planned)</div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Viewed">
                    <div class="stat-item"><span class="stat-square watched"></span>Переглянуто: @Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Viewed)</div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Postponed">
                    <div class="stat-item"><span class="stat-square postponed"></span>Відкладено: @Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Postponed)</div>
                </a>
                <a class="bookmarks-statistic" asp-controller="Home" asp-action="Abandoned">
                    <div class="stat-item"><span class="stat-square dropped"></span>Кинуто: @Model.MovieMarkers.Count(m => m.Type == MovieMarkerType.Abandoned)</div>
                </a>
            </div>
            <div class="stats-chart">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    
    @{
        if (Model.LastWatchedMovies.Any())
        {
            <div class="recent-views">
                <h3>Останні перегляди</h3>
                <ul class="recent-list">
                    @{
                        foreach (var lastWatched in Model.LastWatchedMovies)
                        {
                            <li>
                                <img src="@lastWatched.Movie.Poster" alt="@lastWatched.Movie.Title">
                                <div >
                                    <a asp-controller="Films" asp-action="Film" asp-route-id="@lastWatched.Movie.Id">@lastWatched.Movie.Title</a>
                                    <p class="date">@lastWatched.Date.ToString("dd/MM/yyyy")</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div> *@