@using CinematiQ.Models.Entities
@using CinematiQ.Views.Shared
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<ApplicationIdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-row">
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.FavoriteNavClass(ViewContext)" asp-controller="Home" asp-action="Favorite">Улюблене</a></li>
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.WatchingNavClass(ViewContext)" asp-controller="Home" asp-action="Watching">Дивлюсь</a></li>
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.PlannedNavClass(ViewContext)" asp-controller="Home" asp-action="Planned">Заплановано</a></li>
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.ViewedNavClass(ViewContext)" asp-controller="Home" asp-action="Viewed">Переглянуто</a></li>
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.PostponedNavClass(ViewContext)" asp-controller="Home" asp-action="Postponed">Відкладено</a></li>
    <li class="nav-item"><a class="bookmark-link h5 @BookmarksNavPages.AbandonedNavClass(ViewContext)" asp-controller="Home" asp-action="Abandoned">Кинуто</a></li>
</ul>